# dependency directories
node_modules/

# dotenv environment variable files
.env

# build directories
dist
standalone
build_deb/**/*.deb

# nagios plugins (transpiled files)
plugins/**/*.js

# log directory
logs

# coverage reports
coverage

# certificates
certs

# plugins whitelist
plugins/plugin-whitelist.txt

# misc temporary files
*.log
*.tmp
*.bak
temp